*{
    color: white;
}

a,
a:hover,
a:focus{
    color: #fff;
}

i{
    font-size: 22px;
}

html{

    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0px 0px 10px #ffffff73, 0px 0px 10px black;
}

body{
    background-color: #333 ;
}


.navbar-brand h3{
    font-size: 40px;
}

.nav-item{
    font-weight: 700;
    padding: .25rem 0;
    margin-left: 2rem;
    border-bottom: .25rem solid transparent;
}

.nav-item:hover{
    border-bottom-color: rgba(255, 255, 255, .25);
}

form{
    margin-top: -7%;
    transform: scale(0.81);
}