*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: inherit;
}

.html {
    font-size: 62.5%;
    box-sizing: border-box; 
}

body {
    margin-top: 8%;
    color: #333333;
    background-color: #fafafa;
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.site-header .nav-item .nav-link {
    color: #4154f1;
    text-decoration: none;
} 

.site-header .nav-item .nav-link:hover {
    color: #717ff5;
    text-decoration: none;
} 

.site-header .nav-item .nav-link.active { 
    font-weight: 700;
}
 
.site-header .site-title {
    line-height: 0;
    text-decoration: none;
}

.site-header .site-title {
    font-size: 30px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;

    color: #012970;

    margin-top: -6px;
    letter-spacing: 1px;

}

.site-header .site-title:hover {
    color: #428bca;
    text-decoration: none;
} 

.navbar input[type="checkbox"],
.navbar .hamburger-menu {
    display: none;
}

.navbar {
    width: 100%;
    height: 50px;

    z-index: 12;
    opacity: 0.85;
    /* position: fixed; */

    color: #000;
    background: #fff;
    box-shadow: 0px 5px 10px 0px #aaa;
}


.navbar-container {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    order: 2;
    padding: 0;
    display: flex;

}
  
.nav-item li {
    list-style: none;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-bottom: 15px;
}

.nav-item .nav-link {
    color: #013289;

    font-size: 20px;
    font-weight: 700;
    font-family: "Nunito", sans-serif;

    text-decoration: none; 
    padding: 10px 0 10px 30px;
    transition: color 0.3s ease-in-out;


}

.nav-item .nav-link :hover {
    color: #717ff5;
    transition: color 0.3s ease-in-out;
}


.site-title {
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {

    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-menu {
        display: block;
    }

    .navbar-container {
        height: 64px;
        display: block;
        position: relative;
    }

    .navbar-container input[type="checkbox"] {
        top: 20px;
        left: 20px;
        width: 30px;
        height: 32px;

        opacity: 0;
        z-index: 5;

        display: block;
        position: absolute;
    }

    .navbar-container .hamburger-menu {
        top: 21px;
        left: 20px;

        width: 35px;
        height: 23px;
    
        display: block;
        position: absolute;
        
        z-index: 2;
        display: flex;

        flex-direction: column;
        justify-content: space-between;
    }
/*  */
    #menu_toggle {
        opacity: 0;
    }

    #menu_toggle:checked + .hamburger-menu > span {
        transform: rotate(45deg);
    }

    #menu_toggle:checked + .hamburger-menu > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu_toggle:checked + .hamburger-menu > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu_toggle:checked ~ .nav-item {
        left: 0 !important;
    }

    .hamburger-menu {
        position: fixed;
        top: 220px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .hamburger-menu > span,
    .hamburger-menu > span::before,
    .hamburger-menu > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #616161;
        transition-duration: .25s;
    }

    .hamburger-menu > span::before {
        content: '';
        top: -8px;
    }
    .hamburger-menu > span::after {
        content: '';
        top: 8px;
    }

    .nav-item {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    .nav-link {
        
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .nav-link :hover {
        background-color: #CFD8DC;
    }

    .site-header .site-title {
        top: 5px;
        right: 15px;
        font-size: 2rem;
        margin-top: 19px;
        position: absolute;
    }


}


.left-navigation {
	padding-left:0;
	list-style:none;
}

.wrapper{
	width:100%;
    padding-top: 15%;
}

#side-menu{
	min-width:270px;
	max-width:270px;
	background:#F8F6E7; /* 3e64ff */
	color:#fff;

}

#side-menu.active{
	min-width:120px;
	max-width:120px;
	text-align:center;
}

#side-menu.active ul.nav-items li{
	font-size:15px;
}

#side-menu.active ul.nav-items li a{
	padding:10px 0;
    text-decoration: none;
}

#side-menu.active ul.nav-items li a span{
	margin-right:0;
	display:block;
	font-size:30px;
}

#side-menu.active .logo{
	padding:10px 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

#side-menu .logo{
	display:block;
	color:#fff;
	font-weight:900;
	padding:10px 30px;
	-webkit-transition:.3s;
	-o-transition:.3s;
	transition:.3s;
}

@media(prefers-reduced-motion:reduce){
	#side-menu .logo{
		-webkit-transition:none;
		-o-transition:none;
		transition:none;
	}
}

#side-menu ul.nav-items{
	padding:0;
	-webkit-transition:.3s;
	-o-transition:.3s;
	transition:.3s;
}

@media(prefers-reduced-motion:reduce){
	#side-menu ul.nav-items{
		-webkit-transition:none;
		-o-transition:none;
		transition:none;
	}
}

#side-menu ul li{
	font-size:16px;
}

#side-menu ul li>ul{
	margin-left:10px;
}

#side-menu ul li>ul li{
	font-size:14px;
}

#side-menu ul li a{
	padding:10px 30px;
	display:block;
    font-weight: 700;
	color:#000;
	border-bottom:1px solid rgba(255,255,255,.1);
}

#side-menu ul li a span{
	margin-right:15px;
}

@media(max-width:991.98px){
	#side-menu ul li a span{
		display:block;
	}
}

#side-menu ul li a :hover{
	color:#717ff5;
}

#side-menu ul li.active>a{
    font-weight: 700;
	background:0 0;color:#000;
}

@media(max-width:991.98px){
	#side-menu{
		min-width:80px;
		max-width:80px;
		text-align:center;
		margin-left:-80px!important;
	}

	#side-menu.active{
		margin-left:0!important;
	}
}

@media(max-width:991.98px){
	#sidebarCollapse span{
		display:none;
	}
}

.nav-items li{
	font-size:15px
}

