<!DOCTYPE html>

<html>
    <head>
        <title>Upload file to flask database</title>
    </head>
    <body>
        <h1>Upload file to flask database 12/24</h1>
        
        <h3>Merry Christmas!</h3>

        <div class="container">
            <h1>File Input</h1>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputFile">File input</label>
                    <input type="file" name="inputFile">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
                
            </form>
        </div>
    </body>
</html>
